@model IEnumerable<iepProject.Models.Question>

@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @{
                    if (Session["user"] != null)
                    {
                        if ((String)Session["email"] == item.Author.Email || (int)Session["role"] == 0)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                            @: |
                        }

                        if ((int)Session["role"] == 0 || (int)Session["userId"] == item.AuthorId)
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                            @: |

                            if (item.IsLocked)
                            {
                                @Html.ActionLink("Unlock", "UnlockQuestion", new { @id = item.Id });
                                @: |
                            }
                            else
                            {
                                @Html.ActionLink("Lock", "LockQuestion", new { @id = item.Id });
                                @: |
                            }
                        }

                        if ((int)Session["role"] == 2)
                        {
                            if (item.IsLocked)
                            {
                                @Html.ActionLink("Unlock", "UnlockQuestion", new { @id = item.Id });
                                @: |
                            }
                        }


                    }

                    @Html.ActionLink("Details", "Details", new { id = item.Id });

                }
            </td>
        </tr>
    }


