<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @{
                        if (Session["user"] == null)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Home")</li>
                            <li>@Html.ActionLink("Create Account", "Create", "Users")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Account Details", "../Users/Details", new { id = Session["userId"] })</li>

                            if ((int)Session["role"] != 1)
                            {
                                <li>@Html.ActionLink("All Chat Rooms", "Index", "ChatRooms")</li>
                            }




                            if ((int)Session["role"] == 1)
                            {
                                <li>@Html.ActionLink("Create Chat Room", "Create", "ChatRooms")</li>
                                <li>@Html.ActionLink("My Chat Rooms", "MyChatRooms", "ChatRooms")</li>
                                <li>@Html.ActionLink("My Transactions", "Index", "Transactions")</li>
                            }

                            if ((int)Session["role"] == 0)
                            {
                                <li>@Html.ActionLink("See All Users", "Index", "Users")</li>
                                <li>@Html.ActionLink("System Details", "SystemDetails", "Home")</li>
                                <li>@Html.ActionLink("Total", "Total", "Home")</li>
                            }

                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        }
                    }

                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                        {
                            <input type="text" placeholder="Search.." style="margin-top:5%" name="SearchCriteria">
                            <input type="submit" class="btn btn-default" value="Search" />
                        }
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
